
/*** Benefit duration

MSD code module:

This code uses the MSD main benefit code module to construct spells on the main benefit. Any main benefit is included.
Select and run the following to see the 57 different types of benefit included, and the current benefit that they are comparable to:

SELECT DISTINCT benefit_lvl2, comparable_benefit_lvl1 , benefit_lvl1
FROM [IDI_Community].[cm_read_MSD_ISE_MAIN_BENEFIT].[msd_ise_main_benefit_202406]
ORDER BY benefit_lvl2, comparable_benefit_lvl1


There are four parts to the code:
(1) Construct table of benefit spells
(2) Apply threshholds
(3) Link to children of beneficiaries
(4) Update master table with this data


(1) Construct table of benefit spells
This creates continuous spells on main benefit, by combining spells - the purpose of this is to remove any overlap (unclear if this it is possible for this to occur) and to
combine spells on different benefit type (or at different rates).

The logic is to create take the start and end dates of spells for each person. If a start date or end date falls within another spell, drop that start or end date. 
We then take the remaining start dates, and join them to possible end dates (end dates after the start date). We then take the minimum such end date for each start date.
(This rests on the logic that any later end date cannot be the end date of the spell - if it was, there would be a continuous spell of benefit receipt, therefore the earlier 
end date would have fallen between a different spell's start and end, and been dropped. However, it wasn't, so there can be a continuous spell.

NB. As of June 2024 refresh, the community code table is approaching 100M rows - so best to pre-filter rather than reconcile the entire thing). Note that this means we are asking:
"What is the length of continuous benefit receipt within this window", and not "how long had people, within this window, been on benefit (including time outside the window)".

If specific types of benefit are needed, either add a filter to the initial selection of benefits, or group by benefit type - code is provided that could be uncommented in order to
either filter down to conintuous spells from a subset of benefits, or to seperate spells of different benefit types.


(2) Apply threshholds
The next step is to apply thresholds or other logic to categorise people (eg, 'received benefit for continuous 12+ months', or more than 365 days total, etc)

(3) Update master table with this data (and link to children of beneficiaries)
This is not a linkage to households, but a linkage to parents. 

NB. According to a comment from the code module: entitlement to main benefits is calculated for the family, and the payment is split between each adult in the household.
Implications from this:
- If there is a couple living together, then they should have the same main benefit status. This means we don't need to worry about how we treat different spells for 
	different parents, they should be aligned. We can take either.
- In parent-with-new-partner situations, this implies that, when combining the household the parent could take or affect the benefit status of the step parent (join them 
	or possibly leave the benefit).
- Separated parents are trickier - what if one is on the benefit, then is off it, but the other is then on the benefit? 
	In this case we will just use the max as a straightforward and transparent approach.

An MSD publication from 2013 discusses reducing the number of people who have been on a working age benefit for more than 12 months. 
Also note that there is a paper by Moira Wilson, MSD (The Duration of Benefit Receipt: New Findings from the Benefit Dynamics Data Set) that looks at dynamics.
She identified three high risk thresholds - first observed spell of at least 32 weeks in duration, commencing four or more spells in the five year follow up,
and having a total duration on benefit of at least three out of five years of the follow up.

Internal discussion suggested 12 months was appropriate.

This code also produces 6 months as an alternative threshold.


***/

:setvar targetdb "IDI_Sandpit"
:setvar projectschema "[DL-MAA2016-23]"
:setvar idicleanversion "IDI_Clean_202406"
:setvar window_start "'2022-01-01'"
:setvar window_end "'2022-12-31'"

/* (1) Construct table of benefit spells */

DROP TABLE IF EXISTS #benefit_spells;
WITH
	benefits AS
		(	SELECT * 
			FROM [IDI_Community].[cm_read_MSD_ISE_MAIN_BENEFIT].[msd_ise_main_benefit_202406] 
			WHERE payment_end >= $(window_start) AND payment_start <= $(window_end)
			--	AND benefit_lvl1 IN (...) AND comparable_benefit_lvl1 IN (...) 
			),
	starts AS 
		(	SELECT DISTINCT snz_uid
							--,benefit_lvl2, benefit_lvl1, comparable_benefit_lvl1 -- Can comment out benefit types
							, payment_start
			FROM benefits com
			WHERE NOT EXISTS (SELECT 1 
								FROM benefits che
								WHERE com.snz_uid = che.snz_uid	
									AND com.payment_start > che.payment_start -- do not change to greater-than-or-equal-to. That will cause each row to exclude itself.
									AND com.payment_start <= dateadd(day,1,che.payment_end)
								-- Can comment out benefit types
									--AND com.benefit_lvl2 = che.benefit_lvl2 
									--AND com.benefit_lvl1 = che.benefit_lvl1
									--AND com.comparable_benefit_lvl1 = che.comparable_benefit_lvl1
								-- EO Comment out block
								)
			),
	ends AS 
		(	SELECT DISTINCT snz_uid
							--,benefit_lvl2, benefit_lvl1, comparable_benefit_lvl1 -- Can comment out benefit types
							,payment_end
			FROM benefits com
			WHERE NOT EXISTS (SELECT 1 
								FROM benefits che
								WHERE com.snz_uid = che.snz_uid	
									AND com.payment_end >= dateadd(day,-1,che.payment_start) 
									AND com.payment_end < che.payment_end -- do not change to greater-than-or-equal-to. That will cause each row to exclude itself.
								-- Can comment out benefit types	
									--AND com.benefit_lvl2 = che.benefit_lvl2 
									--AND com.benefit_lvl1 = che.benefit_lvl1
									--AND com.comparable_benefit_lvl1 = che.comparable_benefit_lvl1
								-- EO Comment out block	
								)
			)
SELECT starts.snz_uid
		--,starts.benefit_lvl2, starts.benefit_lvl1, starts.comparable_benefit_lvl1  -- Can comment out benefit types
		,starts.payment_start
		,MIN(ends.payment_end) payment_end
INTO #benefit_spells
FROM starts
LEFT JOIN ends
ON	starts.snz_uid = ends.snz_uid
	-- Can comment out benefit types
	--AND starts.benefit_lvl2 = ends.benefit_lvl2
	--AND starts.benefit_lvl1 = ends.benefit_lvl1
	--AND starts.comparable_benefit_lvl1 = ends.comparable_benefit_lvl1
	-- EO Comment out block
	AND starts.payment_start <= ends.payment_end
GROUP BY starts.snz_uid
	--,starts.benefit_lvl2, starts.benefit_lvl1, starts.comparable_benefit_lvl1 -- Can comment out benefit types
	,starts.payment_start


/* (2) Apply thresholds */

DROP TABLE IF EXISTS #lt_benefit;
WITH mb2021_22 AS (
		SELECT snz_uid
				,IIF(payment_start < $(window_start),$(window_start),payment_start) payment_start
				,IIF(payment_end > $(window_end),$(window_end),payment_end) payment_end
		FROM #benefit_spells
		),
mb_dur AS (SELECT snz_uid
				,MAX(DATEDIFF(day,payment_start,payment_end))+1 spell_duration -- add one to include the last day of the spell
				,SUM(DATEDIFF(day,payment_start,payment_end))+COUNT(snz_uid) total_duration -- add the number of spells to include last day of each spell
			FROM mb2021_22
			GROUP BY snz_uid)
SELECT snz_uid
		,IIF(spell_duration >= 183, 1,0) AS benefit_spell_6_mnth_plus
		,IIF(spell_duration >= 365, 1,0) AS benefit_spell_12_mnth_plus
		,IIF(total_duration >= 183, 1,0) AS benefit_duration_6_mnth_plus
		,IIF(total_duration >= 365, 1,0) AS benefit_duration_12_mnth_plus
INTO #lt_benefit
FROM mb_dur;


/* 3. Link to children of beneficiaries */
DROP TABLE IF EXISTS #parent_child_link;
SELECT * 
INTO #parent_child_link
FROM
		(
		SELECT det1.snz_parent1_uid AS parent_id
				,pop.snz_uid AS child_id
		FROM IDI_Sandpit.$(projectschema).icm_master_table pop
		INNER JOIN $(idicleanversion).data.personal_detail det1
		ON det1.snz_uid = pop.snz_uid
		WHERE Age_Group = '0-17'
				AND det1.snz_parent1_uid IS NOT NULL

		UNION 

		SELECT det2.snz_parent2_uid AS parent_id
				,pop.snz_uid AS child_id
		FROM IDI_Sandpit.$(projectschema).icm_master_table pop
		INNER JOIN $(idicleanversion).data.personal_detail det2
		ON det2.snz_uid = pop.snz_uid
		WHERE Age_Group = '0-17'
			AND det2.snz_parent2_uid != det2.snz_parent2_uid
			AND det2.snz_parent2_uid IS NOT NULL
		) k;
GO

-- Combine records for both parents by taking the max
DROP TABLE IF EXISTS #child_benefit
SELECT pop.snz_uid
		,IIF(MAX(coalesce(ltb.benefit_spell_6_mnth_plus,0))>0,MAX(coalesce(ltb.benefit_spell_6_mnth_plus,0)),NULL) benefit_spell_6_mnth_plus
		,IIF(MAX(coalesce(ltb.benefit_spell_12_mnth_plus,0))>0,MAX(coalesce(ltb.benefit_spell_12_mnth_plus,0)),NULL) benefit_spell_12_mnth_plus
		,IIF(MAX(coalesce(ltb.benefit_duration_6_mnth_plus,0))>0,MAX(coalesce(ltb.benefit_duration_6_mnth_plus,0)),NULL) benefit_duration_6_mnth_plus
		,IIF(MAX(coalesce(ltb.benefit_duration_12_mnth_plus,0))>0,MAX(coalesce(ltb.benefit_duration_12_mnth_plus,0)),NULL) benefit_duration_12_mnth_plus
INTO #child_benefit
FROM IDI_Sandpit.$(projectschema).icm_master_table pop
INNER JOIN #parent_child_link pc
ON pc.child_id = pop.snz_uid
LEFT JOIN #lt_benefit ltb
ON pc.parent_id = ltb.snz_uid
GROUP BY pop.snz_uid


/* 4. Update master table with the data */
ALTER TABLE $(targetdb).$(projectschema).icm_master_table DROP COLUMN IF EXISTS benefit_spell_6_mnth_plus
																		,COLUMN IF EXISTS benefit_spell_12_mnth_plus
																		,COLUMN IF EXISTS benefit_duration_6_mnth_plus
																		,COLUMN IF EXISTS benefit_duration_12_mnth_plus;
ALTER TABLE $(targetdb).$(projectschema).icm_master_table ADD benefit_spell_6_mnth_plus bit
																,benefit_spell_12_mnth_plus bit
																,benefit_duration_6_mnth_plus bit
																,benefit_duration_12_mnth_plus bit;
GO
-- CDA
UPDATE
	$(targetdb).$(projectschema).icm_master_table
SET
	benefit_spell_6_mnth_plus = IIF(Age >= 18 AND ltb.benefit_spell_6_mnth_plus = 1, ltb.benefit_spell_6_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_spell_12_mnth_plus = IIF(Age >= 18 AND ltb.benefit_spell_12_mnth_plus = 1,ltb.benefit_spell_12_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_duration_6_mnth_plus = IIF(Age >= 18 AND ltb.benefit_duration_6_mnth_plus = 1, ltb.benefit_duration_6_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_duration_12_mnth_plus = IIF(Age >= 18 AND ltb.benefit_duration_12_mnth_plus = 1, ltb.benefit_duration_12_mnth_plus,NULL) -- limit to 18+ year olds
FROM 
	#lt_benefit ltb
WHERE $(targetdb).$(projectschema).icm_master_table.snz_uid = ltb.snz_uid;


UPDATE
	$(targetdb).$(projectschema).icm_master_table
SET
	benefit_spell_6_mnth_plus = IIF(Age < 18 AND ltb.benefit_spell_6_mnth_plus = 1, ltb.benefit_spell_6_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_spell_12_mnth_plus = IIF(Age < 18 AND ltb.benefit_spell_12_mnth_plus = 1,ltb.benefit_spell_12_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_duration_6_mnth_plus = IIF(Age < 18 AND ltb.benefit_duration_6_mnth_plus = 1,ltb.benefit_duration_6_mnth_plus,NULL) -- limit to 18+ year olds
	,benefit_duration_12_mnth_plus = IIF(Age < 18 AND ltb.benefit_duration_12_mnth_plus = 1,ltb.benefit_duration_12_mnth_plus,NULL) -- limit to 18+ year olds
FROM 
	#child_benefit ltb
WHERE $(targetdb).$(projectschema).icm_master_table.snz_uid = ltb.snz_uid;

SELECT age_group,
	snz_ethnicity_grp2_nbr
	,benefit_duration_12_mnth_plus
	,COUNT(*) n
FROM IDI_Sandpit.[DL-MAA2016-23].icm_master_table
GROUP BY age_group,snz_ethnicity_grp2_nbr
	,benefit_duration_12_mnth_plus
ORDER BY age_group,snz_ethnicity_grp2_nbr
	,benefit_duration_12_mnth_plus

/*** Look at a summary from our table...
SELECT dis_any,snz_ethnicity_grp2_nbr, snz_sex_gender_code, Age_Group, benefit_spell_6_mnth_plus, benefit_spell_12_mnth_plus,benefit_duration_6_mnth_plus,benefit_duration_12_mnth_plus
		,TSS_Status, OT_involvement_detailed_life, OT_involvement_detailed_current
		, COUNT(*) n
FROM IDI_Sandpit.[dl-maa2016-23].icm_master_table 
GROUP BY dis_any,snz_ethnicity_grp2_nbr, snz_sex_gender_code, Age_Group, benefit_spell_6_mnth_plus, benefit_spell_12_mnth_plus
		,TSS_Status, OT_involvement_detailed_life, OT_involvement_detailed_current,benefit_duration_6_mnth_plus,benefit_duration_12_mnth_plus
***/



