/**************************************************************************************************
Title: Mental Health Service Use
Author: Simon Anastasiadis

Modified by: D Young

Inputs & Dependencies:
- [IDI_Clean].[moh_clean].[PRIMHD]
- [IDI_Metadata].[clean_read_CLASSIFICATIONS].[moh_primhd_team_code]

Outputs:
- [IDI_UserCode].[DL-MAA2024-48].[defn_MHA_service_use]

Description:
Use of mental mealth and addictions services as recorded in PRIMHD.

Intended purpose:
Determining who has accessed mental health and addiction services.

Notes:
1) Several activity types are excluded where the person receiving services is not involved or not the recipient:
   T08	Care/liaison co-ordination contacts
   T32	Contact with family/whanau, consumer not present
   T35	Did not attend
   T37	On leave
   T47	Support for family/whanau
   T49	Support for children of parents with mental illness and addictions (COPMIA)

2) Rows where the moh_mhhd_activity_unit_count_nbr is negative have been excluded. This is understood to reflect limitations with how data has been entered
   into the dataset, and is used to reverse out time within a period. For example, where there is a spell of bed-nights, and a person is on leave from the facility during the period, 
   The start and end of the period may be recorded, as well as the dates of leave, and a negative entry created for the days spent away.
   It is assumed that this reversing out would not destroy all references within a row, and therefore rather than reconcile the negative entries against the period they represent, 
   instead the negative rows have been removed.

 3) We will use this as a yes/no indicator for interaction with these services, rather than counts of service use. Not all service use is likely to be equivalent so counting across types
	is arbitrary. It would be possible for future research to look at reconciling these in some way or count only a specific type(s) of activity.

Parameters & Present values:
  Current refresh = 202406 (confirm below)
    Project schema = [DL-MAA2048-48]

Issues:
 
History (reverse order):
2023-05-31 DY Added additional exclusions following existing logic, removed rows intended to reverse out overcounts, introduced entity counts.
2022-05-20 JG updated organisation code to int for entity count
2022-01-26 JG Updated project and refresh for Data for Communities
2020-05-20 SA v1
**************************************************************************************************/


:setvar targetdb "IDI_Sandpit"
:setvar projectschema "[DL-MAA2024-48]"
:setvar targettable "icm_master_table_202406"
:setvar idicleanversion "IDI_Clean_202406"
:setvar  period_end "'2022-12-31'"
:setvar  period_start "'2022-01-01'"
:setvar IDIMetadata "[IDI_Metadata_202406].[moh_primhd].[team23_code]" -- We set this because (1) the table name can change; and (2) the table name can change (eg, team23_code)


DROP TABLE IF EXISTS #defn_MHA_service_use;

SELECT [snz_uid]
	  ,provider_code = abs(cast(HashBytes('MD5', moh_mhd_organisation_id_code) as int))
	  ,[moh_mhd_organisation_id_code]
      ,[moh_mhd_activity_start_date]
      ,[moh_mhd_activity_end_date]
      ,[moh_mhd_activity_type_code]
      ,[moh_mhd_activity_status_code]
      ,[moh_mhd_activity_unit_type_text]
	  ,TEAM_TYPE_DESCRIPTION
INTO #defn_MHA_service_use
FROM $(idicleanversion).[moh_clean].[PRIMHD]
LEFT JOIN $(IDIMetadata)
ON moh_mhd_team_code = TEAM_CODE
WHERE [moh_mhd_activity_type_code] NOT IN ('T08','T32','T35','T37','T47','T49')
	AND moh_mhd_activity_unit_count_nbr >= 0
	AND [moh_mhd_activity_start_date] <= $(period_end)
	AND [moh_mhd_activity_end_date] >= $(period_start)
GO

DROP TABLE IF EXISTS #mha;
SELECT snz_uid
		, COUNT(*) AS MHA_service_use
INTO #mha
FROM #defn_MHA_service_use
GROUP BY snz_uid;


ALTER TABLE $(targetdb).$(projectschema).$(targettable) DROP COLUMN IF EXISTS MHA_service_use;
ALTER TABLE $(targetdb).$(projectschema).$(targettable) ADD MHA_service_use SMALLINT;
GO

UPDATE
	$(targetdb).$(projectschema).$(targettable)
SET
	MHA_service_use = mha.MHA_service_use
FROM 
	#mha mha
WHERE $(targetdb).$(projectschema).$(targettable).snz_uid = mha.snz_uid;

ALTER TABLE $(targetdb).$(projectschema).$(targettable) DROP COLUMN IF EXISTS MHA_age_band;
ALTER TABLE $(targetdb).$(projectschema).$(targettable) ADD MHA_age_band varchar(6);
GO

UPDATE
	$(targetdb).$(projectschema).$(targettable)
SET
	MHA_age_band = IIF(Age BETWEEN 14 AND 17, '14-17',NULL)

/*Create table for entity counts*/
/* Table to be joined on during summarisation and confidentialisation, in order to give the correct entity counts. */

DROP TABLE IF EXISTS $(targetdb).$(projectschema).[icm_MHA_service_use_ent];
GO

SELECT [snz_uid] AS snz_uid
	  ,abs(cast(HashBytes('MD5', a.moh_mhd_organisation_id_code) as int)) AS entity_1 
INTO $(targetdb).$(projectschema).[icm_MHA_service_use_ent]
FROM #defn_MHA_service_use a;
GO


/* Add index */
CREATE CLUSTERED INDEX my_index_name ON $(targetdb).$(projectschema).[icm_MHA_service_use_ent] (snz_uid);
GO
/* Compress final table to save space */
ALTER TABLE $(targetdb).$(projectschema).[icm_MHA_service_use_ent] REBUILD PARTITION = ALL WITH (DATA_COMPRESSION = PAGE);
GO


